$text-color: rgba(4, 102, 102, 0.979);
// PokemonModal

.PokemonModal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  .pokemonBox {
    position: relative;
    border-radius: 20px;
    width: 800px;
    .col-12 {
      padding: 0px;
    }

    .closeBtn {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      transition: 0.3s;
      color: gray;
      &:hover {
        transform: scale(1.2);
        color: rgb(7, 7, 7);
        span {
          border: 2px solid rgb(7, 7, 7);
        }
      }
      span {
        border: 2px solid gray;
        border-radius: 3px;
        font-size: 30px;

        font-weight: 700;
        margin: 0px;
        padding: 0px;
      }
    }
    .pokemonLeft {
      background-color: rgb(6, 218, 218);
      padding: 70px 50px;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
      height: 100%;
      .name {
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 700;
      }
      img {
        width: 150px;
        height: 150px;
        margin-bottom: 0px;
      }
      .abilitys {
        .title {
          color: white;
          font-size: 18px;
          font-weight: 700;
          text-transform: capitalize;
        }
        .ability {
          background-color: rgb(4, 189, 189);
          padding: 5px 40px;
          color: white;
          border-radius: 5px;
        }
      }
    }
    .pokemonRight {
      background-color: white;
      height: 100%;
      padding: 60px 40px;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      .baseTitle {
        color: rgb(6, 218, 218);
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 30px;
      }
      .statDetails {
        margin-bottom: 15px;
        .statName {
          text-transform: capitalize;
          font-size: 18px;
          margin-bottom: 3px;
          color: rgb(112, 112, 112);
        }
        .bar {
          width: 150px;
          border-radius: 10px;
          height: 5px;
          background-color: rgb(206, 204, 204);
          position: relative;
          .percentageBar {
            background-color: rgb(4, 189, 189);
            height: 5px;
            border-radius: 10px;
          }
        }
      }
    }
    .poison {
      .pokemonLeft {
        background-color: rgb(76, 160, 76);
        .ability {
          background-color: rgb(25, 129, 25);
        }
      }
      .pokemonRight {
        .baseTitle {
          color: rgb(76, 160, 76);
        }
        .percentageBar {
          background-color: rgb(76, 160, 76) !important;
        }
      }
    }
    .water {
      .pokemonLeft {
        background-color: rgb(89, 89, 253);
        .ability {
          background-color: rgb(49, 49, 255);
        }
      }
      .pokemonRight {
        .baseTitle {
          color: rgb(89, 89, 253);
        }
        .percentageBar {
          background-color: rgb(89, 89, 253) !important;
        }
      }
    }
    .electric {
      .pokemonLeft {
        background-color: rgb(248, 223, 78);
        .ability {
          background-color: rgb(211, 179, 0);
        }
      }
      .pokemonRight {
        .baseTitle {
          color: rgb(248, 223, 78);
        }
        .percentageBar {
          background-color: rgb(248, 223, 78) !important;
        }
      }
    }
    .ground {
      .pokemonLeft {
        background-color: rgb(161, 139, 139);
        .ability {
          background-color: rgb(161, 115, 115);
        }
      }
      .pokemonRight {
        .baseTitle {
          color: rgb(161, 139, 139);
        }
        .percentageBar {
          background-color: rgb(161, 139, 139) !important;
        }
      }
    }
    .normal {
      .pokemonLeft {
        background-color: rgb(148, 207, 247);
        .ability {
          background-color: rgb(74, 178, 247);
        }
      }
      .pokemonRight {
        .baseTitle {
          color: rgb(148, 207, 247);
        }
        .percentageBar {
          background-color: rgb(148, 207, 247) !important;
        }
      }
    }
    .fairy {
      .pokemonLeft {
        background-color: rgb(255, 195, 250);
        .ability {
          background-color: rgb(250, 151, 242);
        }
      }
      .pokemonRight {
        .baseTitle {
          color: rgb(255, 195, 250);
        }
        .percentageBar {
          background-color: rgb(255, 195, 250) !important;
        }
      }
    }
    .fire {
      .pokemonLeft {
        background-color: rgb(247, 186, 136);
        .ability {
          background-color: rgb(253, 156, 76) !important;
        }
      }
      .pokemonRight {
        .baseTitle {
          color: rgb(247, 186, 136);
        }
        .percentageBar {
          background-color: rgb(247, 186, 136) !important;
        }
      }
    }
    .dragon {
      .pokemonLeft {
        background-color: rgb(250, 117, 117);
        .ability {
          background-color: rgb(247, 71, 71);
        }
      }
      .pokemonRight {
        .baseTitle {
          color: rgb(250, 117, 117);
        }
        .percentageBar {
          background-color: rgb(250, 117, 117) !important;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .PokemonModal {
    .pokemonBox {
      width: 80%;
      .col-12 {
        padding: 0px;
      }

      .pokemonLeft {
        padding: 70px 20px;

        .name {
          font-size: 32px;
        }
        img {
          margin-bottom: 0px;
        }
        .abilitys {
          .title {
            font-size: 18px;
          }
          .ability {
            padding: 5px 40px;

            border-radius: 5px;
          }
        }
      }
      .pokemonRight {
        height: 100%;
        padding: 60px 40px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
      }
    }
  }
}

@media (max-width: 600px) {
  .PokemonModal {
    .pokemonBox {
      width: 90%;

      .col-12 {
        padding: 0px;
      }
    }
    .pokemonLeft {
      padding: 20px 25px 30px !important;
      border-top-right-radius: 20px !important;
      border-top-left-radius: 20px !important;
      border-bottom-right-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
      .name {
        margin-bottom: 0px;
      }
      img {
        width: 100px;
        height: 100px;
        margin-bottom: 0px;
      }
      .abilitys {
        .title {
          color: white;
          font-size: 14px !important;
        }
        .abilityList {
          display: flex;
          justify-content: space-around;
          .ability {
            font-size: 14px !important;
            padding: 5px 10px;
            margin-bottom: 0px;
          }
        }
      }
    }
    .pokemonRight {
      padding: 40px 0px !important;
      border-top-right-radius: 0px !important;
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 20px !important;
      border-bottom-right-radius: 20px !important;
      .statList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }
  }
}
